---
import type { HTMLAttributes } from 'astro/types';

import { Icon } from 'astro-icon/components';

import { links } from '@/data/links';

interface Props extends HTMLAttributes<'nav'> {
  maxWidth: string;
  paddingInline: string;
  backgroundColor: string;
  foregroundColor: string;
  hideIcons?: boolean;
}

const {
  maxWidth,
  paddingInline,
  backgroundColor,
  foregroundColor,
  hideIcons,
  ...props
} = Astro.props;
---

<div class="container">
  <nav {...props}>
    <ul>
      {
        links.map((link) => (
          <li>
            <a href={link.href} class:list={[!hideIcons && 'icon-link']}>
              {!hideIcons && <Icon name={link.iconName} aria-hidden="true" />}
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style
  define:vars={{
    'max-width': maxWidth,
    'padding-inline': paddingInline,
    'background-color': backgroundColor,
    'foreground-color': foregroundColor,
  }}
>
  .container {
    overflow-x: auto;
    padding-inline: var(--padding-inline);
    font-size: 16px;
    color: var(--foreground-color);
    background-color: var(--background-color);

    @media (width >= 1024px) {
      font-size: 18px;
    }
  }

  .icon-link {
    display: inline-flex;
    column-gap: 0.5em;
    align-items: center;
  }

  nav {
    max-width: var(--max-width);
    margin-inline: auto;
  }

  ul {
    display: flex;
    column-gap: 2em;
    padding: 0;
    list-style-type: none;
  }

  li:nth-last-child(2) {
    margin-left: auto;
  }

  a {
    display: inline-block;
    padding-block: 1em;
    color: currentcolor;
    text-decoration: none;
    text-wrap: nowrap;
  }

  svg {
    flex: none;
    width: 1.2em;
    height: 1.2em;
  }
</style>
